.language-picker table a {
    white-space: nowrap;
}

.markdown-section table {
    display: block;
}

.info {
font-size:14px;
padding-top:20px;
}

.warning {
font-size:14px;
padding-top:20px;
}

.danger {
font-size:14px;
padding-top:20px;
}

.success {
font-size:14px;
padding-top:20px;
}